<% include partials/header %>
	<div class="card ml-4 mr-4 mb-2 mt-2 pl-5 pr-5">
	  <div class="card-body">
	    <h2 class="card-title text-center"><%=talk.title%></h2>
	    <p class="card-text blog-post-meta text-center"><%=talk.created.toDateString()%> by <a href="#">Mark</a></p>
	    <p class="card-text"><%- talk.body%></p>
	  </div>
	</div>
<% include partials/footer %>