<% include ../partials/header %>
<h1 class="text-center">Add New Talk</h1>
<form class="new-form" action="/geektalks" method="POST">
	<div class="form-group">
		<label>Title</label>
		<input class="form-control" type="text" name="talk[title]" placeholder="title">
	</div>
	<div class="form-group">
		<label>Tag</label>
		<select class="form-control" name="talk[tag]">
			<option value="Computer Science">Computer Science</option>
			<option value="Modern Web">Modern Web</option>
			<option value="Mobile App">Mobile App</option>
			<option value="AI and Data">Artificial Intelligence and Data</option>
			<option value="Embedded System">Embedded System</option>
			<option value="Entertainment">Entertainment</option>
		</select>
	</div>
	<div class="form-group">
		<label>Content</label>
		<textarea class="form-control" name="talk[body]" rows="20" cols="33"></textarea>
	</div>
	<button class="btn btn-primary">Submit</button>
</form>	

<% include ../partials/footer %>